body {
   background-color: #24292E;
}

.wrapper {
   display: flex;
   justify-content: center;
   margin-top: 80px;
}

.player {
   margin-left: 40px;
   background-color: darkslategray;
   width: 50%;
}

.video {
   width: 100%;
   height: 600px;
}

.video::-webkit-media-controls {
   display: none !important;
}

.controls {
   position: relative;
   width: auto;
   border: 2px solid darkcyan;
   height: 40px;
   padding-top: 4px;
   padding-bottom: 4px;
   background-color: #d6e5e5;
}

.controls .maximizeBtnDiv {
   float: right;
   margin-right: 5px;
}

.controlsImg {
   width: 40px;
   height: 40px;
   cursor: pointer;
   user-select: none;
   text-align: center;
   float: left;
   margin-left: 5px;
}

.controlsImg.volumeUpBtn {
   margin-right: 10px;
}

.curTimeText {
   display: inline-block;
   margin-top: 12px;
   font-style: italic;
}

.block-links {
   display: flex;
   justify-content: flex-end;
   margin-top: 40px;
   margin-left: 40px;
}

.block-links .vSrcLink {
   color: #ffffff;
}

.block-links .vSrcLink a {
   text-decoration: none;
   cursor: pointer;
   font-size: 20px;
   color: #ffffff;
}

.block-links .vSrcLink a:hover {
   color: darkcyan;
}

@media (max-width: 1450px) {
   .player {
      width: 60%;
   }
}

@media (max-width: 1200px) {
   .wrapper {
      flex-direction: column;
   }

   .player {
      width: 80%;
      align-self: center;
      margin-left: 0;
   }

   .block-links {
      margin: 40px 20px;
      width: 50%;
      justify-content: flex-start;
   }
}

@media (max-width: 992px) {
   .video {
      height: 500px;
   }

   .block-links {
      width: 80%;
   }
}

@media (max-width: 768px) {
   .video {
      height: 380px;
   }
}