body {
   color: #5A5A5A;
}

.block {
   display: grid;
   grid-template-areas: ". header ."". main .";
   grid-template-columns: 1fr 6fr 1fr;
}

.header {
   grid-area: header;
   margin-top: 30px;
}

.header .block-header-inner {
   display: grid;
   grid-template-columns: 1fr 3fr;
}

.header-logo a {
   font-size: 30px;
   font-weight: bold;
   color: #95d14a;
   text-decoration: none;
}

.header-menu {
   display: grid;
   grid-template-columns: repeat(7, 1fr);
}

.header-menu a {
   color: #ffffff;
   font-size: 20px;
   background-color: #95d14a;
   text-decoration: none;
   margin: 2px;
   padding-top: 2px;
   text-align: center;
}

.header-menu a:hover {
   background-color: hsl(100, 50%, 45%);
}

.wrapper {
   display: none;
}

.main {
   grid-area: main;
   margin-top: 40px;
}

.main-article {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-gap: 20px;
}

.main-article-title {
   margin: 0;
}

.main-article-img img {
   width: 100%;
}

.main-news {
   display: grid;
   grid-template-areas: ".main-news-title"".main-news-item-block";
   grid-template-columns: 1fr;
   margin-top: 40px;
}

.main-news-title {
   grid-area: main-news-title;
   font-size: 26px;
   color: #000000;
}

.main-news-item-block {
   grid-area: main-news-item-block;
   display: grid;
   grid-gap: 20px;
   grid-template-columns: repeat(4, 1fr);
   margin-top: 20px;
}

.main-news-item img {
   width: 250px;
}

.main-news-item-title {
   font-size: 18px;
   color: #000000;
   margin-top: 20px;
   margin-bottom: 15px;
}

.main-news-item-date {
   font-style: italic;
   font-style: 12px;
}

.main-news-item p {
   margin-top: 10px;
}


@media (max-width: 1100px) {
   .block {
      grid-template-areas: "header""main";
      grid-template-columns: 4fr;
   }

   .header {
      margin-top: 20px;
   }

   .header .block-header-inner {
      grid-template-columns: 2fr 2fr;
   }

   .header-logo {
      margin-left: 20px;
   }

   .header-menu {
      display: none;
   }

   /* Меню "гамбургер" */
   * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
   }

   .wrapper {
      display: block;
      margin-left: auto;
      margin-right: 0;
      width: 320px;
      background-color: #95D14A;
      position: relative;
      color: white;
      text-align: center;
      height: 40px;
      font-family: 'Arial';
   }

   #check-menu {
      display: none;
   }

   label {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
      z-index: 2;
      line-height: 40px;
   }

   .burger-line {
      position: absolute;
      top: 8px;
      right: 10px;
      width: 35px;
      height: 2px;
      background-color: #fff;
      transition: .5s all;
   }

   .second,
   .third {
      top: 18px;
   }

   .fourth {
      top: 28px;
   }

   .header-menu-2 {
      display: block;
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      transform: translateY(100%);
      max-height: 0;
      font-size: 0;
      overflow: hidden;
      transition: .5s all;
   }

   .header-menu-2 a {
      display: block;
      width: 100%;
      padding: 10px;
      color: white;
      text-decoration: none;
      border-top: 1px solid rgba(255, 255, 255, .3);
      background-color: #95D14A;
   }

   a:hover {
      background-color: hsl(100, 50%, 45%);
   }

   #check-menu:checked~.header-menu-2 {
      max-height: 500px;
      font-size: 16px;
   }

   #check-menu:checked~.first {
      display: none;
   }

   #check-menu:checked~.second {
      transform: rotate(45deg);
   }

   #check-menu:checked~.third {
      transform: rotate(-45deg);
   }

   #check-menu:checked~.fourth {
      display: none;
   }

   .main {
      margin: 40px 20px;
   }

   .main-news-item img {
      width: 200px;
   }
}

@media (max-width: 992px) {
   .main {
      margin-left: 30px;
      margin-right: 30px;
   }

   .main-article {
      grid-template-columns: 1fr;
      grid-gap: 20px;
   }

   .main-article-img {
      text-align: center;
   }

   .main-article-img img {
      width: 80%;
   }

   .main-article-text {
      width: 80%;
      justify-self: center;
   }

   .main-news-item-block {
      grid-template-columns: repeat(2, 1fr);
   }

   .main-news-item img {
      width: 80%;
   }

}