.footer {
   background-color: #344b8e;
}

.footer-inner {
   max-width: 55%;
   min-height: $size-width;
   grid-template-columns: repeat(7, 1fr);
   align-items: center;
}

.footer-social-item a {
   font-size: $size-main * 2;
   text-decoration: none;
   color: #ffffff;
}

.footer-social-item a:hover {
   color: #30bae7;
}